# macOS system files
.DS_Store

# Python environment & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
*.log
.ipynb_checkpoints/

# IDE & Editor files
.vscode/
.idea/

# Office temporary lock files
~$*
.~lock.*

# SQLite database local locks
*.db-journal
